<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Digital Bank</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let navLink of navLinks" [ngClass]="{'dropdown': navLink.dropdown}">
          <a class="nav-link" 
             [class.active]="navLink.active" 
             [routerLink]="navLink.link" 
             id="navbarDropdown" 
             role="button" 
             data-bs-toggle="dropdown" 
             aria-expanded="false">
            {{ navLink.label }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="navLink.dropdown">
            <li *ngFor="let subLink of navLink.dropdownLinks">
              <a class="dropdown-item" [routerLink]="subLink.link">{{ subLink.label }}</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="!isAuthenticated()">
          <a class="nav-link account-btn" routerLink="/sign-in">
            <i class="fas fa-sign-in-alt"></i> Sign In
          </a>
        </li>
        <li class="nav-item" *ngIf="!isAuthenticated()">
          <a class="nav-link account-btn-right account-btn" routerLink="/sign-up">
            <i class="fas fa-user-plus"></i> Sign Up
          </a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated()">
          <a class="nav-link account-btn" routerLink="/profile">
            <i class="fas fa-user"></i> Profile
          </a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated()">
          <a class="nav-link account-btn-right account-btn" (click)="signOut()">
            <i class="fas fa-sign-out-alt"></i> Sign Out
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
